main h2 {
    margin-top: 30px !important;
}

main h3 {
    margin-top: 20px !important;
}

/* About up */

.about-up {
    position: fixed;
    bottom: 50px;
    right: 90px;
}

.about-up a {
    border: 1px solid var(--text-color-3);
    padding: 17px 14px 23px 16px;
    border-radius: 50%;
    background: var(--bg-color-rgba-3);
}

.about-up a svg {
    width: 32px;
    height: 32px;
    fill: var(--text-color-4);
    transition: .3s;
}

.about-up a:hover svg {
    fill: var(--text-default);
}

.about-up-dontsee
{
    opacity: 0;
    transition: .3s opacity;
}

.about-up-see {
    opacity: 1;
    transition: .3s opacity;
}

@media(max-width: 991px) {
    .about-up {
        position: fixed;
        bottom: 40px;
        right: 30px;
    }

    .about-up a {
        border: 1px solid var(--text-color-3);
        padding: 9px 10px 16px 11px;
        border-radius: 50%;
        background: var(--bg-color-rgba-3);
    }

    .about-up a svg {
        width: 24px;
        height: 24px;
        fill: var(--text-default);
        transition: .3s;
    }
}
