.toolbar button {
    border: 0 !important;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px;
    transition: .15s;
}

.toolbar button:hover,
.toolbar button:focus {
    background: var(--bg-light-main-2);
}

.toolbar button svg {
    width: 24px;
    height: 24px;
    fill: var(--text-default) !important;
}

.editor {
    min-height: 150px;
    border: 1px solid var(--text-color-4);
    padding: 10px;
    border-radius: 6px;
    background: var(--bg-light-main-2);
}

.editor[placeholder]:empty:before {
    content: attr(placeholder);
    color: var(--text-color-2);
}

.editor[placeholder]:empty:focus:before {
    content: '';
}
