/* Main */

.page-login {
    flex: 0 0 auto;
    width: 30%;
    padding-left: 60px;
}

.page-login .page-login--new-page {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-login-privacy {
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
}

.page-login-privacy .page-login-privacy--link {
    margin-bottom: 7px;
}

@media(max-width: 767px) {
    .page-login {
        width: 100% !important;
        padding: 0 !important;
    }

    .page-login--content {
        width: 100% !important;
        background: var(--bg-color) !important;
        padding-bottom: 0 !important;
        margin-bottom: 60px !important;
        border: 0 !important;
    }

    .page-login--content svg.page-login-logo {
        margin-top: 10px;
        height: 70px !important;
        margin-bottom: 20px !important;
    }

    .page-login--content h3 {
        margin-bottom: 30px !important;
    }

    .page-login--content.page-login--reg {
        padding-top: 0 !important;
    }

    .page-login--registation {
        background: var(--bg-color) !important;
        width: 100% !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border: 0 !important;
    }
}

/* Content */

.page-login--content
{
    background: var(--bs-tertiary-bg-me-2);
    padding: 30px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 30px;
    width: 320px;
    border: 1px solid var(--text-color-3);
}

.page-login--registation {
    padding: 30px;
    width: 320px;

    background: var(--bs-tertiary-bg-me-2);
    border-radius: 12px;
    border: 1px solid var(--text-color-3);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-login--content svg.page-login-logo {
    height: 35px;
    margin-bottom: 20px;
}

.page-login--content h3 {
    margin-bottom: 15px;
    text-align: center;
}

.button-login-success {
    border-radius: 8px;
    padding: 8px 15px;
    width: 100%;
}

.page-login--content form .input-group-sm input {
    margin-bottom: 6px;
    border-radius: 8px !important;
}

.page-login--content form button {
    border-radius: 8px;
}

.page-login-privacy
{
    color: var(--text-color-5);
    font-size: 12px;
    line-height: 1rem;
}
