/* Main */

.footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 5px 0px;

    border-top: 1px solid var(--text-color-3);
    align-items: center;
}

.footer__mobile {
    margin-top: 100px;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-bottom: 12px;
}

.footer__center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.footer__center .link {
    font-size: 14px;
}

.footer__left
{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 12px;
}

.footer__left svg {
    width: 24px;
    margin-right: 5px;
}

.footer__left p {
    padding: 0;
    margin: 0;
}

@media(max-width: 991px) {
    .footer {
        flex-direction: column;
        margin-bottom: 100px;
        justify-content: start !important;
    }

    .footer__right {
        margin-left: 0 !important;
    }

    .footer__left {
        margin-right: 0 !important;
    }
}
