:root {

    /* Default */

    --bg-color: #17152b;
    --bg-color-auth: #2e2a4d;
    --text-default: #fff;
    --text-invert: #000;
    --bg-input: #1f193a;
    --bg-input-border: #3d346b;

    /* Main Background color */

    --bg-color-rgba: rgba(23, 21, 43, .5);
    --bg-color-rgba-2: 23, 21, 43;
    --bg-color-rgba-3: rgba(23, 21, 43, .7);

    /* Text color */

    --text-color-1: #000;
    --text-color-2: #aaa;
    --text-color-3: #47426b;
    --text-color-4: #6c6c6c;
    --text-color-5: #999;
    --text-color-6: #2f294e;
    --text-color-7: #4b4373;

    /* Backgrounds color */

    --bg-light: #241e41;
    --bg-light-hover: #241e41;
    --bg-light-active: #322b58;
    --bg-light-active-hover: #3f366c;
    --bg-light-1: #4C4966;
    --bg-light-2: #5f4966;
    --bg-light-3: #495f66;
    --bg-warning: #664e49;

    /* Danger */

    --color-danger: #ca9a0b;
    --color-danger-hover: #e6b216;

    /* Bootstrap */

    --bs-tertiary-bg-me: #635F83 !important;
    --bg-theme-color: #333;
    --bs-btn-active-bg: #fff !important;
    --bs-border-color: #252239 !important;
    --bs-tertiary-bg-me-2: #2E2A4D;
    --bs-secondary-bg-me: #403B66;

    /* Border */

    --bg-warning-border: #795e58;
    --bg-light-2-border: #71587a;
    --bg-light-3-border: #516b73;
    --button-primary: #5698fc;
    --button-primary-hover: #87b6fe;

    /* Person */

    --person-button: #40376d;
    --person-button-border: #5a508b;
    --person-button-focus: 118, 109, 177;
}
