:root {

    /* Default */

    --bg-color: #fff;
    --bg-color-auth: #fff;
    --text-default: #000;
    --text-invert: #fff;

    /* Main Background color */

    --bg-color-rgba: rgba(255, 255, 255, .7);
    --bg-color-rgba-2: 255, 255, 255;
    --bg-color-rgba-3: rgba(255, 255, 255, .9);

    /* Text colors */

    --text-color-1: #000;
    --text-color-2: #555;
    --text-color-3: #eee;
    --text-color-4: #cecece;
    --text-color-5: #9f9f9f;
    --text-color-6: #f0f0f0;
    --text-color-7: #d6d6d6;

    /* Backgrounds */

    --bg-light: #f5f5f5;
    --bg-light-hover: #f1f1f1;
    --bg-light-1: #ECF5F8;
    --bg-light-2: #F2ECF8;
    --bg-light-3: #ecf8f0;
    --bg-warning: #f8f6ec;

    /* Danger */

    --color-danger: #ffc107;
    --color-danger-hover: #ffd043;

    /* Bootstrap */

    --bs-tertiary-bg-me: #CFECF8 !important;
    --bg-theme-color: #dedede;
    --bs-btn-active-bg: #fff !important;
    --bs-border-color: #eee !important;
    --bs-tertiary-bg-me-2: #f8f9fa;
    --bs-secondary-bg-me: #e9ecef;

    /* Border */

    --bg-warning-border: #f3f1e6;
    --bg-light-2-border: #e8e0f1;
    --bg-light-3-border: #e4f1e8;
}
