.person-posts a.card {
    border: 0 !important;
    border-radius: 8px !important;
}

.person-posts a.card img.card-img {
    border-radius: 8px !important;
}

.person-posts a.card .person-posts-background {
    display: flex;
    width: 100%;
    justify-content: center;

    background-color: rgba(23, 21, 43, .2);

    border-radius: 8px !important;
    transition: .7s;
}

.person-posts a.card:hover .person-posts-background {
    background-color: rgba(23, 21, 43, .6);
    backdrop-filter: blur(20px);
}

.person-posts a.card:focus .person-posts-background {
    background-color: rgba(23, 21, 43, .6);
    backdrop-filter: blur(20px);
}

.person-posts a.card .person-posts-content {
    display: flex;
    height: 50%;
    margin-top: auto;
    flex-direction: column;
}

.person-posts a.card .person-posts-content p {
    text-align: center;
    color: white;
    font-size: 20px;
}
