.person-content h1
{
    margin-bottom: 12px;
}

svg.person-verify-account {
    margin-left: 5px;
    width: 26px;
    height: 26px;
    fill: var(--verify-account);
}

svg.person-verify-account-min {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    fill: var(--verify-account);
}

.person-content .alert {
    border-radius: 8px;
    border: 0 !important;
}

.person-content ul,
.person-content ul li,
.person-content ul a {
    background: var(--bg-color);
    color: var(--text-color);
}
