.person-content h1
{
    margin-bottom: 12px;
}

.person-content .alert {
    border-radius: 8px;
}

/* Profile */

.person-profile {
    background: var(--bg-light);
    border-radius: 12px;
    margin-bottom: 20px;
}

.person-profile-content {
    display: flex;
    padding-bottom: 20px;
}

.person-profile-content-name {
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    padding-top: 20px;
    margin-right: auto;
}

.person-profile-content-name-1 {
    margin-bottom: 5px;
    font-size: 30px;
    font-family: HalvarBreit;
}

.person-profile-content-buttons {
    padding: 20px;
}

.person-profile-bg
{
    border-radius: 12px 12px 0 0;
    background-position: center;
    padding: 50px 25px;
    height: 250px;
    margin-bottom: -10px;
}

.person-profile-bg img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    border: 10px solid var(--bg-light);
}

/* Add post */

.person-form {
    margin-bottom: 30px;
    border-radius: 12px;
    background: var(--bg-light);
    padding: 10px;
}

/* Posts */

.person-posts {
    margin-bottom: 30px;
}

.person-posts-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Search */

.person-search-list ul a::after {
    margin-bottom: 16px;
    padding-bottom: 16px;
    padding: 0;
}

.person-search-list ul a img {
    width: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.person-search-list ul a
{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: HalvarBreit;
}

.person-search-list ul li a img {
    border-radius: 50%;
    margin-right: 15px;
}

/* Settings */

.person-setting-bg {
    background: var(--bg-light);
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 10px;
}

.person-setting-bg ul {
    margin: 0;
    padding: 0;
}

.person-setting-bg ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
}

.person-setting-bg ul li:last-child {
    margin-bottom: 0 !important;
}

.person-setting-bg ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.person-setting-bg ul li a:hover {
    border-bottom: 1px solid var(--text-color-2);
}

.person-setting-content h2 {
    margin-top: 10px;
}

.person-setting-content form {
    margin-bottom: 10px;
}

.person-setting-bg form input {
    margin-bottom: 6px;
    border-radius: 8px;
}

.person-setting-bg .alert {
    border-radius: 8px;
}

.person-setting-bg form button[type="submit"] {
    margin-top: 10px;
    border-radius: 8px;
}

/* Notifications */

ul.person-content-notifications li {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

ul.person-content-notifications li h2 {
    margin-top: 1rem;
}

ul.person-content-notifications li div {
    margin-bottom: 1rem;
}

ul.person-content-notifications li:first-child h2 {
    margin-top: 0 !important;
}

ul.person-content-notifications li:last-child h2 {
    margin-bottom: 0 !important;
}
