ul.person-leftbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.person-leftbar li {
    background: var(--bg-light);
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px;
}

ul.person-leftbar li a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0;
    padding-left: 10px;

    display: flex;
}
