.person-rightbar-content {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.person-rightbar-empty {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.person-rightbar-bar {
    flex: 0 0 auto;
    width: 33.33333333%;
}
