form.person-settings-form-image.form-image-bg .row .col img {
    width: 300px;
    border-radius: 8px;
}

form.person-settings-form-image {
    width: 100%;
}

form.person-settings-form-image .row {
    margin-bottom: 8px;
}

form.person-settings-form-image .row .col img {
    border-radius: 50%;
    width: 100px;
    height: auto;
    max-width: 100%;
}

@media(max-width: 371px) {
    form.person-settings-form-image .row .col img {
        width: 70px;
    }
}

form.person-settings-form-image .row .col input:checked+label img {
    outline: 3px solid var(--button-primary);
}

form.person-settings-form-image .row .col input:focus+label img {
    outline: 3px solid var(--button-primary);
}

form.person-settings-form-image .row .col input+label {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 991px) {
    form.person-settings-form-image button[type="submit"] {
        width: 100%;
    }
}
