main.row-user-content header {
    margin-top: .75rem;
    margin-bottom: .75rem;
    display: flex;
    align-items: center;
}

main.row-user-content header .header__logo {
    display: block;
    width: 100%;
    height: auto;
    max-width: 180px;
}

main.row-user-content header .header__logo svg {
    fill: var(--text-color) !important;
}

main.row-user-content header .header__meta {
    margin-left: auto;
}

main.row-user-content header .header__meta a.active svg {
    stroke: var(--user-nav-link-active) !important;
}

@media(min-width: 767.98px) {
    main.row-user-content header {
        display: none !important;
    }
}
