.user-modal .modal-content {
    background-color: var(--modal-background);
    border-radius: 12px;
}

.user-modal .modal-content .modal-body {
    padding: 1.25rem 1rem;
}

.user-modal .modal-content .modal-body ul.user-modal-list-people {
    margin: 0;
    padding: 0;
    list-style: none !important;
}

.user-modal .modal-content .modal-body ul.user-modal-list-people li {
    padding: 0;
}

.user-modal .modal-content .modal-body ul.user-modal-list-people li a {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    text-decoration: none;
}

.user-modal .modal-content .modal-body ul.user-modal-list-people li a img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-modal .modal-content .modal-body ul.user-modal-list-people li a div {
    width: 100% !important;
    padding-bottom: .9rem;
    margin-top: 1rem;
    border-bottom: 1px solid var(--settings-main-border);
}

.user-modal .modal-content .modal-body ul.user-modal-list-people li a span {
    font-family: ResistSans;
    font-size: 1.25rem;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.user-modal .modal-content .modal-body ul.user-modal-list-people li:last-child a div {
    border-bottom: none !important;
}

/* .user-modal .modal-content .modal-body ul.user-modal-list-achivs {
    display: flex;
} */

.user-modal .modal-content .modal-body .user-modal-list-achivs .user-modal-list-achivs__item {
    display: flex;
    justify-content: center;
}

.user-modal .modal-content .modal-body .user-modal-list-achivs .user-modal-list-achivs__item span {
    padding: 1.5rem;
}

.user-modal .modal-content .modal-body .user-modal-list-achivs .user-modal-list-achivs__item img {
    border-radius: 50%;
    max-width: 180px;
    max-height: 180px;
    box-shadow: 0 .5rem 1rem var(--achiv-shadow) !important;
}

.user-modal .modal-content .modal-body .user-modal-list-achivs .user-modal-list-achivs__item section {
    position: absolute;
    width: 237px;
    margin-top: -5px;
}