.second-account {
    display: flex;
    background-color: var(--settings-main-background);
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 12px;
}

.second-account .second-account-profile {
    display: flex;
    align-items: center;
    max-width: 83%;
}

.second-account .second-account-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.second-account .second-account-profile a {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    width: 100% !important;
}

.second-account .second-account-profile .second-account-profile-text {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.second-account .second-account-profile .second-account-profile-text span:not(.fs-5) {
    font-size: .875rem;
}

.second-account .second-account-profile .second-account-profile-text .fs-5 {
    font-family: ResistSans;
    margin: 0;

    line-height: 100%;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.second-account .second-account-remove {
    margin-left: auto;
}

.second-account .second-account-remove svg {
    stroke: var(--user-bar-exit);
}
