/* App */

body {
    background: var(--bg-color);
}

* {
    color: var(--text-default);
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
div,
span,
i,
b,
li,
ul,
ol {
    color: var(--text-default);
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
