.invalid-feedback
{
    margin-bottom: 10px;
}

form .form-more {
    color: var(--text-color-2);
    font-size: 14px;
    margin-bottom: 10px;
}

.text-more {
    color: var(--text-color-2);
    font-size: 14px;
    margin-bottom: 10px;
}

.form-control {
    padding: 8px 14px !important;
}

form input[type="password"],
form input[type="email"],
form input[type="text"],
form input[type="number"],
form textarea {
    background: var(--bg-input) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--bg-input-border) !important;
}

form input.form-check-input {
    background-color: var(--bg-input);
}

form textarea
{
    background: var(--bg-input);
    border: 1px solid var(--bg-input-border);
}

.page-login--content .auth-registration-social {
    margin-top: 25px;
}

.auth-login .auth-registration-social {
    margin-top: 40px;
}

.auth-login .auth-registration-social .row {
    margin-bottom: 0.25rem;
}

.auth-login .auth-registration-social .row .col {
    margin-bottom: 0.5rem;
}

.auth-registration-social .row .col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.auth-registration-social .row .col img {
    border-radius: 50%;
}

.auth-registration-social .row .col a img {
    transform: scale(0.9);
    opacity: 0.7;
    transition: .3s;
}

.auth-registration-social .row .col a:hover img {
    transform: scale(1);
    opacity: 1;
}

.auth-registration-social .row .col a:focus img {
    transform: scale(1);
    opacity: 1;
    outline: 1px solid var(--button-primary);
}
