.invalid-feedback
{
    margin-bottom: 10px;
}

form .form-more {
    color: var(--text-color-2);
    font-size: 14px;
    margin-bottom: 10px;
}

.form-control {
    padding: 8px 14px !important;
}

form input[type="password"],
form input[type="email"],
form input[type="text"],
form input[type="number"],
form textarea {
    background: var(--bg-input) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--bg-input-border) !important;
}

form input.form-check-input,
form textarea
{
    background: var(--bg-input);
    border: 1px solid var(--bg-input-border);
}
