.modal-content
{
    border: 0 !important;
    border-radius: 8px !important;
    background: var(--bg-color) !important;
}

button.modal-button-close
{
    border: 0 !important;
    padding: 8px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s;
}

button.modal-button-close:hover,
button.modal-button-close:focus {
    background: var(--bg-light-main-2);
}
