a {
    color: var(--text-color) !important;
    text-decoration-thickness: .1rem !important;
    text-underline-offset: .3rem;
    text-decoration-color: var(--text-link-underline) !important;
}

a:is(:focus, :focus-within, :focus-visible) {
    color: var(--text-link-hover) !important;
    text-decoration: none;
}

/* media */

@media(hover: hover) {
    a:hover {
        color: var(--text-link-hover) !important;
        text-decoration-color: var(--text-link-hover) !important;
    }
}

@media(hover: none) {
    a:active {
        color: var(--text-link-hover) !important;
        text-decoration-color: var(--text-link-hover) !important;
    }
}
