h2.title-anchor,
h3.title-anchor,
h4.title-anchor,
h5.title-anchor,
h6.title-anchor {
    display: flex;
    margin-left: -2.5rem;
}

h2.title-anchor a,
h3.title-anchor a,
h4.title-anchor a,
h5.title-anchor a,
h6.title-anchor a {
    opacity: 0;
    margin-right: .5rem;
    margin-left: .5rem;

    transition: .3s;
}

h2.title-anchor a svg,
h3.title-anchor a svg,
h4.title-anchor a svg,
h5.title-anchor a svg,
h6.title-anchor a svg {
    margin-bottom: .1rem;
}

h2.title-anchor a:is(:focus, :focus-visible, :focus-within),
h3.title-anchor a:is(:focus, :focus-visible, :focus-within),
h4.title-anchor a:is(:focus, :focus-visible, :focus-within),
h5.title-anchor a:is(:focus, :focus-visible, :focus-within),
h6.title-anchor a:is(:focus, :focus-visible, :focus-within) {
    opacity: 1;
}

h2.title-anchor:hover a,
h3.title-anchor:hover a,
h4.title-anchor:hover a,
h5.title-anchor:hover a,
h6.title-anchor:hover a {
    opacity: 1;
}

/* media */

@media(max-width: 767.98px) {
    h2.title-anchor,
    h3.title-anchor,
    h4.title-anchor,
    h5.title-anchor,
    h6.title-anchor {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;

        margin-left: 0;
    }

    h2.title-anchor a svg,
    h3.title-anchor a svg,
    h4.title-anchor a svg,
    h5.title-anchor a svg,
    h6.title-anchor a svg {
        margin-bottom: .25rem;
    }
}
