@media (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background: repeating-linear-gradient(-45deg, #606dbc, #606dbc 43px, #465298 40px, #465298 84.5px)
    }

    .auth-login {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        padding: 30px;
    }
}

html,
body {
    height: 100%;
}

.form-signin {
    max-width: 500px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

/* Me */

.auth-login {
    background: var(--bg-color-auth);
    border-radius: 12px;
    padding: 20px;
}

.auth-login button[type="submit"] {
    border-radius: 8px;
}

.auth-login-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.auth-login-bottom ul li {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white !important;
}

.auth-login-bottom ul li a {
    font-size: 14px;
}

@media(max-width: 767px) {
    .auth-login-bottom ul li {
        text-align: start;
        color: var(--text-color) !important;
    }

    .auth-login-bottom ul li a.link-white {
        color: var(--text-color) !important;
    }

    .auth-login-bottom ul li a.link-white:hover,
    .auth-login-bottom ul li a.link-white:focus {
        border-bottom: 1px solid var(--text-color) !important;
    }

    .auth-login {
        background: var(--bg-color) !important;
        padding-left: 0;
        padding-right: 0;
    }

    .auth-login-bottom {
        border-top: 1px solid var(--text-color-3);
        margin-top: 30px;
    }

    .auth-login-bottom ul {
        padding-top: 10px;
    }
}

.auth-login--logo
{
    height: 70px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.auth-login h1 {
    text-align: center;
    margin-bottom: 30px;
}

.auth-login .alert
{
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.auth-login form .form-control
{
    margin-bottom: 7px;
    border-radius: 8px;
}

.auth-login form button {
    margin-top: 10px;
}

.auth-login .auth-login--restore a {
    font-size: 14px !important;
}

.auth-login ul.auth-login--restore {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.auth-login .auth-login--restore li {
    margin-bottom: 4px;
    padding: 0;
}

.auth-login .auth-login--restore li:last-child {
    margin: 0;
}

.auth-login .form-more
{
    color: var(--text-color-2);
    font-size: 14px;
    margin-bottom: 10px;
}

.auth-registration-social {
    margin-top: 25px;
}

.auth-registration-social .row {
    margin-bottom: 0.25rem;
}

.auth-registration-social .row .col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0.5rem;
}

.auth-registration-social .row .col img {
    border-radius: 50%;
}
