.addpost-import-container {
    padding: .25rem;
    border: .1rem solid var(--addpost-import-bg);
    border-radius: 14px;
    margin-bottom: 1.5rem;
}

.addpost-import {
    background-color: var(--addpost-import-bg);
    padding: 1.5rem;
    border-radius: 10px;
}

.addpost-import p:not(:has(a)) {
    font-size: .875rem;
}

.addpost-import p:has(a) {
    max-width: fit-content;
    margin-bottom: 0;
    border-radius: 4px;
}
