/* Main */

.fixed-bottom {
    background: var(--bg-color-rgba-3);
    backdrop-filter: blur(20px);
    border-top: 1px solid var(--text-color-3);
    height: 70px;
}

.fixed-bottom__nav
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

/* Link */

.fixed-bottom__link
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60px;
}

.fixed-bottom__link svg {
    fill: var(--text-default);
}

a.fixed-bottom__link {
    color: var(--text-default);
    text-decoration: none;
    font-size: 13px;
}

/* SVG Size */

.fixed-bottom__svg-1 {
    width: 32px;
    margin-left: 10px;
}

.fixed-bottom__svg-2 {
    width: 28px;
    margin-left: 5px;
}

.fixed-bottom__svg-3 {
    width: 32px;
    margin-left: 14px;
}

/* Media */

@media(max-width: 321px) {
    .fixed-bottom {
        height: 50px;
    }

    .fixed-bottom__link {
        height: 40px;
    }

    .fixed-bottom__svg-1 {
        width: 24px;
        margin-left: 14px;
    }

    .fixed-bottom__svg-2 {
        width: 20px;
        margin-left: 10px;
    }

    .fixed-bottom__svg-3 {
        width: 32px;
        margin-left: 14px;
    }
}
