/* Main */

.fixed-bottom {
    background: var(--bg-color-rgba-3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-top: 1px solid var(--text-color-3);
    height: 55px;
}

.fixed-bottom__nav
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
}

/* Link */

.fixed-bottom__link
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 60px;

    color: var(--text-default);
    text-decoration: none;
    font-size: 13px;
}

.fixed-bottom__link svg {
    fill: var(--text-default);
}

/* SVG Size */

.fixed-bottom__svg-1 {
    width: 26px;
    height: 26px;
    margin-left: 7px;
}

.fixed-bottom__svg-2 {
    width: 23px;
    height: 23px;
    margin-left: 7px;
}

.fixed-bottom__svg-3 {
    width: 26px;
    height: 26px;
    margin-left: 16px;
}
