/* Main */

.fixed-bottom {
    background: var(--bg-color-rgba-3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-top: 1px solid var(--text-color-3);
    height: 60px;
}

.fixed-bottom__nav
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
}

/* Link */

.fixed-bottom__link
{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 60px;

    width: 100%;
    align-items: center;

    color: var(--text-default);
    text-decoration: none;
    font-size: 13px;
}

.fixed-bottom__link svg {
    fill: var(--left-bar-icon);
}

.fixed-bottom__svg {
    width: 22px;
    height: 22px;
    margin-bottom: 4px;
}

.fixed-bottom__link span {
    font-size: 11px;
    color: var(--left-bar-icon) !important;
}
