/* Header */

.header {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0;
}

/* SVG */

.header__logo svg
{
    width: 300px;
}

@media(max-width: 991px) {
    .header__logo svg {
        width: 150px;
    }
}
