/* Header */

.header {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0;
}

.header-app {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

/* SVG */

.header__logo svg
{
    width: 200px;
    max-width: 100%;
}

@media(max-width: 991px) {
    .header__logo svg {
        width: 150px;
    }

    .header {
        margin-bottom: 20px;
    }
}
